body {

     background: #c9a5b7;   
     

  /* filter: contrast(170%) brightness(1000%); */
    
}

img {
    vertical-align: middle;
    border-style: none;
}


#mainDiv {
    color: #ffffffef;
    top: 0%;
    left: 0%;
    z-index: 8;
}



h1 {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}


p {
    
      font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
}


.jacquard-12-charted-regular {
    font-family: "Jacquard 12 Charted", serif;
    font-weight: 0;
    font-style: normal;
}
.jacquard-12-regular {
  font-family: "Jacquard 12", serif;
  font-weight: 400;
  font-style: normal;
}

.major-mono-display-regular {
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

}

li {
    text-align: right;
    padding-bottom: 6px;
    font-family: "Major Mono Display", serif;
    padding-left: 0%;
    font-size: 17px;
color: transparent;
    background-image: url('https://img.freepik.com/free-photo/dark-stone-desk-texture-with-concrete-background-high-resolution-top-view-table-with-copy-space-idea-advertising-banner-product-article_166373-2662.jpg?t=st=1739364251~exp=1739367851~hmac=6af5f18249d650e9892d6ca5800c39e0b828b842e0d8c33e76dc3524795288a5&w=2000'); 
    background-size: 10%; /* Enlarged for smooth animation */
    background-position: 0 50%;
    background-clip: text;
text-transform: lowercase;    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li.alt {
    color: #d10ef4;


}

span.line {
  display: inline-block;
}

@media only screen and (max-width: 600px) { 
  .hide-me { display: none; } 
} 

a:link, a:visited, a:active {
  text-decoration: none;
      color: #1f1f1f;
}

a:hover {
border-bottom: 0.1rem dotte;
    color: #656565;
    text-decoration: dotted;


}

#divcoll {
    width: 30%;
    background-color: aqua; 
    align-content: left;
    display: block;
    float:left;
}

#divcontact {
    width: 30%;
    background-color: red; 
    display: block;
    float: right;
}

#divheader {
    width: 100%;
    background-color: green; 
    display: block;
    float: right;
}